[submodule "lib/SdFat"]
	path = lib/SdFat
	url = https://github.com/greiman/SdFat.git
[submodule "lib/Dataflash"]
	path = lib/Dataflash
	url = https://github.com/ubco-db/Dataflash.git
[submodule "lib/Unity-Desktop"]
	path = lib/Unity-Desktop
	url = https://github.com/ThrowTheSwitch/Unity.git
